# annoying with little benefit
HashKnownHosts no

# add keys to agent when needed
AddKeysToAgent yes

# apply trust-on-first-use policy: accept new hostkeys
StrictHostKeyChecking accept-new

# include specific environment configurations
Include ~/.ssh/config.d/*.conf

# apply defaults to all, unless already set
Host *
  
  # keep connections alive
  ServerAliveInterval 60
  ServerAliveCountMax 2

  # don't forward the agent by default
  ForwardAgent no
  
  # connection multiplexing
  ControlPath /run/user/%i/sshmux-%r@%h:%p.sock
  ControlMaster auto
  ControlPersist 20m
